# Node
node_modules/
dist/
coverage/
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Vite
/.vite

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Build
/build

# Misc
*.log
