.footer {
    background-color: var(--secondary-color);
    color: #ccc;
    padding: 50px 20px;
    text-align: center;
}

:global([data-theme='dark']) .footer {
    background-color: #111;
    color: #e0e0e0;
}

.footer p {
    margin-bottom: 10px;
}